<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
<meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
<title>Trang chủ</title>

<!-- ========== Css Files ========== -->
<%- include('layouts/head') %> 
<link rel="stylesheet" href="/user-cms/css/image-upload.css">


</head>
<body>
    <!-- Start Page Loading -->
    <%- include('layouts/loading') %> 
    <!-- End Page Loading -->

    <!-- START TOP -->
    <%- include('layouts/header') %> 
    <!-- END TOP -->

    <!-- START SIDEBAR -->
    <%- include('layouts/sidebar') %> 
    <!-- END SIDEBAR -->
    
    <%- include('layouts/notification') %> 

    <!-- START CONTENT -->
    <div class="content">

        <!-- Start Page Header -->
        <div class="page-header">
            <h1 class="title">Tạo bài review</h1>
            <ol class="breadcrumb">
                <li><a href="/user-cms">Trang chủ</a></li>
                <li class="active">Tạo bài review</li>
            </ol>

            <!-- Start Page Header Right Div -->
            <div class="right">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/user-cms/book-review" class="btn">Quay lại</a>
                </div>
            </div>
            <!-- End Page Header Right Div -->

        </div>
        <!-- End Page Header -->

        <div class="container-flush">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-title">
                            Thông tin bài review
                            <ul class="panel-tools">
                                <li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
                            </ul>
                        </div>
                
                        <div class="panel-body">
                            <form action="/user-cms/book-review/create" method="post" enctype="multipart/form-data" id="writeReviewForm">
                                <div class="form-group">
                                    <label for="input1" class="form-label">Tên sách muốn review</label>
                                    <input type="text" class="form-control" id="book_name" name="book_name" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Thể loại</label>
                                    <select class="form-control selectpicker" name="category" multiple data-live-search="true">
                                        <% bookCategories.forEach(category => { %>
                                            <option value="<%- category._id %>"><%- category.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="slug"  class="form-label">Slug</label>
                                    <input type="text" placeholder="ban-nen-ghi-lai-bai-review-theo-dinh-dang-nhu-the-nay" class="form-control" name="slug" id="slug">
                                </div>
                                
                                <p><i>Lưu ý: Để hình ảnh của bạn trong đẹp hơn, vui lòng đăng những ảnh theo kích thước dưới đây</i></p>
                                
                                <label class="form-label">Ảnh bài review</label>
                                <div class="row">
                                    <div class="col-md-4 form-it">
                                        <label>Ảnh</label>
                                        <div class="file-upload">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-1').trigger( 'click' )">Thêm ảnh</button>
                                          
                                            <div class="image-upload-wrap-1 imageUploadWrap">
                                              <input class="file-upload-input-1 fileUploadInput" type='file' onchange="readURL(this, '1');" accept="image/*" name="titleImage" required/>
                                              <div class="drag-text">
                                                <h4>Kéo ảnh hoặc chọn thêm ảnh vào đây (340 x 521)</h4>
                                              </div>
                                            </div>
                                            <div class="file-upload-content-1 fileUploadContent">
                                              <img class="file-upload-image-1 fileUploadImage" src="#" alt="your image" />
                                              <div class="image-title-wrap">
                                                <button type="button" onclick="removeUpload('1')" class="remove-image">Xóa <span class="image-title-1 imageTitle">Uploaded Image</span></button>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                    
                                    <div class="col-md-4 form-it">
                                        <label>Ảnh</label>
                                        <div class="file-upload">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-2').trigger( 'click' )">Thêm ảnh</button>
                                          
                                            <div class="image-upload-wrap-2 imageUploadWrap">
                                              <input class="file-upload-input-2 fileUploadInput" type='file' onchange="readURL(this, '2');" accept="image/*" name="bannerImage" required/>
                                              <div class="drag-text">
                                                <h4>Kéo ảnh hoặc chọn thêm ảnh vào đây (285 x 437)</h4>
                                              </div>
                                            </div>
                                            <div class="file-upload-content-2 fileUploadContent">
                                              <img class="file-upload-image-2 fileUploadImage" src="#" alt="your image" />
                                              <div class="image-title-wrap">
                                                <button type="button" onclick="removeUpload('2')" class="remove-image">Xóa <span class="image-title-2 imageTitle">Uploaded Image</span></button>
                                              </div>
                                            </div>
                                          </div>
                                    </div>
                                    
                                    <div class="col-md-4 form-it">
                                        <label>Ảnh</label>
                                        <div class="file-upload">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input-3').trigger( 'click' )">Thêm ảnh</button>
                                          
                                            <div class="image-upload-wrap-3 imageUploadWrap">
                                              <input class="file-upload-input-3 fileUploadInput" type='file' onchange="readURL(this, '3');" accept="image/*" name="smallImage" required/>
                                              <div class="drag-text">
                                                <h4>Kéo ảnh hoặc chọn thêm ảnh vào đây (185 x 284)</h4>
                                              </div>
                                            </div>
                                            <div class="file-upload-content-3 fileUploadContent">
                                              <img class="file-upload-image-3 fileUploadImage" src="#" alt="your image" />
                                              <div class="image-title-wrap">
                                                <button type="button" onclick="removeUpload('3')" class="remove-image">Xóa <span class="image-title-3 imageTitle">Uploaded Image</span></button>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="form-group margin-t-20">
                                    <label class="form-label">Review</label>
                                    <textarea 
                                        class="form-control"
                                        name="review" 
                                        id="editor" 
                                        placeholder="Nhập bài review của bạn vào đây"
                                    ></textarea>
                                </div>
                                
                                <button id="submitButton" type="submit" class="btn btn-default">Đăng bài</button>
                            </form>
            
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->


<%- include('layouts/javascript') %> 

<script src="/user-cms/js/image-upload.js"></script>
<script type="application/javascript" src= "/tinymce/tinymce.min.js"></script>
<script>
    
    cuteToast({
                        type: "success", // or 'info', 'error', 'warning'
                        message: "Đăng nhập thành công.",
                        timer: 5000
                    });
    
    tinymce.init({
        selector: 'textarea#editor',
        height: 500,
        menubar: true,
        plugins: [
            'advlist autolink lists link image imagetools charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        imagetools_toolbar: 'rotateleft rotateright | flipv fliph | editimage imageoptions',
        toolbar: 'undo redo | formatselect | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }',
        images_upload_handler: imageUploadHandler,
    });
    
    async function imageUploadHandler (blobInfo, success, failure, progress) {
        let data = new FormData();
        data.append('file', blobInfo.blob());
        
        try {
            const res = await axios.post('/user/upload-image', data, {
                enctype: 'multipart/form-data',
            });     
            
            success(res.data.location);
            
        } catch (error) {
            failure(error.response.data.message)
        }
    };
</script>

<script>
    $(document).ready(function() {
    //    $('#submitButton').click(function(){
    //         swal({
    //             title: "Xác nhận",
    //             text: "Bạn có đồng ý đăng bài này không?",
    //             type: "warning",
    //             showCancelButton: true,
    //             confirmButtonColor: "#DD6B55",
    //             confirmButtonText: "Đồng ý",
    //             cancelButtonText: "Không",
    //             closeOnConfirm: true,
    //             closeOnCancel: true
    //         }, function(isConfirm){
    //             if (isConfirm) {
    //                 $('#writeReviewForm').submit();
    //                 swal("Thành công", "Bạn đã đăng bài này thành công", "success");
    //             }
    //         });
    //    }) 
    });
</script>

</body>
    
</html>