<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="">
	<meta name="description" content="">
	<meta name="keywords" content="" />


	<!-- ========== Css Files ========== -->
	<%- include('layouts/head') %>

</head>

<body>
<!-- Start Page Loading -->
<%- include('layouts/loading') %>
<!-- End Page Loading -->
<!-- START HEADER -->
<%- include('layouts/header') %>
<!-- END HEADER -->


<!-- START SIDEBAR -->
<%- include('layouts/sidebar') %>
<!-- END SIDEBAR -->

<!-- START CONTENT -->
<div class="content">

	<!-- Start Page Header -->
	<div class="page-header">
		<h1 class="title">Danh sách quản trị viên</h1>

		<!-- Start Page Header Right Div -->
		<div class="right">
			<div class="btn-group" role="group" aria-label="...">
				<!-- <a href="/user-cms/book-review/create" class="btn btn-light">Tạo bài mới</a> -->
				<a href="/admin/administrators" class="btn btn-light"><i class="fa fa-refresh"></i></a>
				<a  class="btn btn-light"><i class="fa fa-search"></i></a>
			</div>
		</div>
		<!-- End Page Header Right Div -->

	</div>
	<!-- End Page Header -->
	<!-- START CONTAINER -->
	<div class="container-flush">
		<!-- Start Row -->
		<div class="row">
			<!-- Start Panel -->
			<div class="col-md-12 col-lg-12">
				<div class="panel panel-default">
					<div class="panel-title">
						Tìm kiếm
						<ul class="panel-tools">
							<li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
							<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
							<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
						</ul>
					</div>
					<div class="panel-body">
						<form class="form" action="/admin/administrators" method="GET">

							<div class="row">
								<div class="col-md-12 col-lg-6">
									<div class="form-group">
										<label for="input1" class="form-label">Email</label>
										<input type="text" class="form-control" id="email" name="email"
										placeholder="Nhập email" value="<%- params.email %>">
									</div>
								</div>

								<div class="col-md-12 col-lg-6">
									<div class="form-group">
										<label class="form-label">Tên đầy đủ</label>
										<input type="text" class="form-control" id="full_name"
										name="full_name" placeholder="Nhập tên đầy đủ" value="<%- params.full_name %>">
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12 col-lg-6">
									<div class="form-group">
										<label for="input1" class="form-label">Biệt danh</label>
										<input type="text" class="form-control" id="username"
										name="username" placeholder="Nhập biệt danh" value="<%- params.username %>">
									</div>
								</div>

								<div class="col-md-12 col-lg-6">
									<div class="form-group">
										<label for="input1" class="form-label">Trạng thái</label>
										<select class="selectpicker form-control" name="block">
											<option data-content="Chọn status"></option>
											<option
												data-content="<span class='label label-success'>Active</span>">
												false</option>
											<option
												data-content="<span class='label label-danger'>InActive</span>">
												true</option>
										</select>
									</div>
								</div>
							</div>
						
							<div class="button-container">
								<a href="/admin/administrators" class="btn">Hủy</a>
								<button type="submit" class="btn btn-default">Tìm kiếm</button>
							</div>
						</form>
					</div>
				</div>
				

			</div>

		</div>
		<!-- End Row -->		
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-title">
						Danh sách <span class="label label-default"><%- totalUser %></span>
					</div>
					<div class="panel-body">

						<div class="table-responsive">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<td>Email</td>
										<td>Tên đầy đủ</td>
										<td>Biệt danh</td>
										<td>Trạng thái</td>
										<% if(admin.role===1){%>
											<td>Chức năng</td>
										<%}%>
									</tr>
								</thead>
								<tbody>

									<% allUserPage.data.forEach(user=>{ %>
										<tr>
											<td>
												<%- user.email %>
											</td>
											<td>
												<%- user.profile.full_name %>
											</td>
											<td>
												<%- user.profile.username %>
											</td>
											<td>
												<%- user.block ? "<span class='label label-danger'>InActive</span>" : "<span class='label label-success'>Active</span>" %>
											</td>
											<% if(admin.role===1){ %>
												<td>
													<a onclick="confirmRole('<%- user._id %>')" class="admin-icon"><i class="fa fa-group margin-r-5"></i></a>
													<a onclick="confirmBeforeBlock('<%- user._id %>', '<%- user.block %>')" class="block-icon"><i class="fa fa-ban"></i></a>
												</td>
											<%}%>
										</tr>
										<% }) %>
								</tbody>
							</table>
						</div>
					</div>

					<%- include('layouts/pagination', { 
						limitTitle: 'Người dùng' , 
						data: allUserPage, 
						pageLink: '/admin/administrators'+link, 
						title: 'Chọn số người dùng mỗi trang' 
					}) %>
				</div>
			</div>
		</div>

	</div>
	<!-- END CONTAINER -->
</div>
<!-- End Content -->


<!-- ================================================
jQuery Library
================================================ -->

<%- include('layouts/javascript') %>
<script>

	async function confirmBeforeBlock(id,status) {
		cuteAlert({
			type: "question",
			title: status === 'true'?"Bỏ ẩn":"Ẩn",
			message: status === 'true'?"Bạn có muốn bỏ ẩn user này?": "Bạn có muốn ẩn user này không?",
			confirmText: "Đồng ý",
			cancelText: "Hủy"
		}).then(async e => {
			if (e) {
				fetch('/admin/administrators/hideUser', {
					method: 'PUT',
					headers: {
						'Content-Type': 'application/json',
						// 'Accept': 'application/json',
					},
					body: JSON.stringify({ id })
				})
				.then(response => response.json())
				.then(data => {
					if(!data.error) {
						cuteToast({
							type: "success", // or 'info', 'error', 'warning'
							message: data.message,
							timer: 5000
							});
							document.location.reload(true);
					} else {
						cuteToast({
							type: "error", // or 'info', 'error', 'warning'
							message: data.message,
							timer: 5000
						});
					}
				})
				.catch(err => {
					cuteToast({
						type: "error", // or 'info', 'error', 'warning'
						message: data.message,
						timer: 5000
					});
				});
			}
		})
	}

	
	async function confirmRole(id) {
		cuteAlert({
			type: "question",
			title: "Hủy cấp quyền",
			message: "Bạn có muốn hủy cấp quyền cho user này?",
			confirmText: "Đồng ý",
			cancelText: "Hủy"
		}).then(async e => {
			if (e) {
				fetch('/admin/administrators/confirmRole', {
					method: 'PUT',
					headers: {
						'Content-Type': 'application/json',
						// 'Accept': 'application/json',
					},
					body: JSON.stringify({ id })
				})
				.then(response => response.json())
				.then(data => {
					if(!data.error) {
						cuteToast({
							type: "success", // or 'info', 'error', 'warning'
							message: data.message,
							timer: 5000
							});
							document.location.reload(true);
					} else {
						cuteToast({
							type: "error", // or 'info', 'error', 'warning'
							message: data.message,
							timer: 5000
						});
					}
				})
				.catch(err => {
					cuteToast({
						type: "error", // or 'info', 'error', 'warning'
						message: data.message,
						timer: 5000
					});
				});
			}
		})
	}
</script>

</body>

</html>