<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="keywords" content="" />
  
  
    <!-- ========== Css Files ========== --> 
    <%- include('layouts/head') %>
    
  </head>
  <body>
  <!-- START HEADER -->
  <%- include('layouts/header') %>
  <!-- END HEADER -->


<!-- START SIDEBAR -->
<%- include('layouts/sidebar') %>
<!-- END SIDEBAR -->
<!-- START CONTENT -->
<div class="content">
  <div class="page-header">
    <h1 class="title">Chi tiết bài blog</h1>
  
    <div class="right">
        <a href="/admin/review"><button class="btn btn-info btn-lg" >Quay lại</button></a>
      </div>
  </div>
<!-- START CONTAINER -->
<div class="container-padding">
  <!-- Start Row -->
  <div class="row">
    <!-- Start Panel -->
    <div class="col-lg-12">
       
        <div class="panel panel-default">

  
              <div class="panel-body">
  
                <div class="col-md-2 padding-0 text-c margin-t-20">
                  <img src="<%- blogs.blogger.profile.image %> " alt="" width="120" height="120">
                  <h5><%- blogs.blogger.profile.full_name %></h2>
                </div>

                <div class="col-md-10 padding-l-0">
                    <h2><%- blogs.title %></h2>
                    <div>
                      <%- blogs.content %>
                    </div>
                </div>
  
  
              </div>
  
        </div>
      </div>
    <!-- End Panel -->
  </div>
  <!-- End Row -->
</div>
<!-- END CONTAINER -->
</div>
<!-- End Content -->




<%- include('layouts/javascript') %>


</body>
</html>