<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="keywords" content="" />
  
  
    <!-- ========== Css Files ========== --> 
    <%- include('layouts/head') %>

  </head>
  <body>
  <!-- Start Page Loading -->
  <%- include('layouts/loading') %>
  <!-- End Page Loading -->
  <!-- START HEADER -->
  <%- include('layouts/header') %>
  <!-- END HEADER -->


<!-- START SIDEBAR -->
<%- include('layouts/sidebar') %>
<!-- END SIDEBAR -->

<!-- START CONTENT -->
<div class="content">

<!-- START CONTAINER -->
<div class="container-padding">
  <!-- Start Row -->
  <div class="row">
    <!-- Start Panel -->
    
    <div class="col-md-12">
      <div class="panel panel-default">
    
        <div class="panel-title">
          Quản lý bài blog
        </div>

        <button type="button" class="btn btn-option1 btn-search">Tìm kiếm</button>
        <button class="btn btn-light btn-refresh-blog"><i class="fa fa-refresh"></i></button>
    
      </div>
      <div class="panel panel-default" id="panel-search" >
        <div class="panel-body">
          <form class="form" action="/admin/blog" method="GET">
            <div class="panel-title">
              Tìm kiếm bài blog
            </div>
            <div class="flex-search">
              <div class="form-group flex-left-search">
                <input type="text" class="form-control" id="title" name="title" placeholder="Nhập tên bài blog">
              </div>
              <div class="form-group flex-right-search" >
                <input type="text" class="form-control" id="username" name="username" placeholder="Nhập tên blogger">
              </div>
            </div>
            <div class="flex-search">
              <div class="form-group flex-right-search">
                <select class="selectpicker form-control" name="hide">
                  <option data-content="Chọn status"></option>
                  <option data-content="<span class='label label-success'>Active</span>">false</option>
                  <option data-content="<span class='label label-danger'>InActive</span>">true</option>
                </select>   
              </div>
            </div>
              <div class="form-group ">
                <button type="button" class="btn btn-close-search">Đóng</button>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>              
              </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        
        <div class="panel-body">
          
          <div class="table-responsive">
            <p>Số lượng bài blog: <%- totalBlog %></p>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <td>Title</td>
                  <td>Blogger</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>    

                <% allBlogPage.data.forEach(blog =>{  %>
                  <tr>
                    <td><%- blog.title %></td>
                    <td><%- blog.blogger.profile.username %></td>
                    <td >
                      <button href="" data-id="<%- blog._id %>" data-toggle="modal" data-target="#inActive-blog-modal" class=" btn-change-status <%- blog.hide ? 'btn btn-danger' : 'btn btn-success' %>">
                        <%- blog.hide ? 'InActive' : 'Active' %>
                      </button> 
                    </td>
                  </tr> 
                <% }) %>
              </tbody>
            </table>
          </div> 
        </div>
        
  <%- include('layouts/pagination.ejs', {
        limitTitle: 'Bài blog',
        data: allBlogPage,
        pageLink: '/admin/blog',
        title: 'Chọn số lượng hiển thị mỗi trang'
    }) %> 
      </div>
      <div class="modal fade" id="inActive-blog-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%- allBlogPage.data.hide ? 'Active Blog' : 'InActive Blog' %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body" >
                  Bạn có chắc chắn muốn <%- allBlogPage.data.hide ? 'Active Blog' : 'InActive Blog' %> bài blog này?
              </div>
              <div class="modal-footer">
                    <button id="btn-inActive-blog" data-id="???" type="button" class="btn btn-success">Chấp nhận</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
              </div>
          </div>
      </div>
  </div>
</div>
    <!-- End Panel -->
  </div>
  <!-- End Row -->
</div>
<!-- END CONTAINER -->
</div>
<!-- End Content -->





<%- include('layouts/javascript') %>


</body>
</html>