<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="">
  <meta name="description" content="">
  <meta name="keywords" content="" />


  <!-- ========== Css Files ========== --> 
  <%- include('layouts/head') %>
  </head>
  <body>
  <!-- Start Page Loading -->
  <%- include('layouts/loading') %>
  <!-- End Page Loading -->
  <!-- START HEADER -->
  <%- include('layouts/header') %>
  <!-- END HEADER -->


<!-- START SIDEBAR -->
<%- include('layouts/sidebar') %>
<!-- END SIDEBAR -->

<!-- START CONTENT -->
<div class="content">

  <!-- Start Page Header -->
  <div class="page-header">
    <h1 class="title">Dashboard</h1>
  </div>
  <!-- End Page Header -->


<!-- START CONTAINER -->
<div class="container-widget">

  <!-- Start Top Stats -->
  <div class="col-md-12">
  <ul class="topstats clearfix">
    <li class="arrow"></li>
    <li class="col-md-4 col-xs-4">
      <span class="title"><i class="fa fa-dot-circle-o"></i>Lượng truy cập ngày</span>
      <h3>360</h3>
      <span class="diff"><b class="color-down"><i class="fa fa-caret-down"></i> 26</b> from yesterday</span>
    </li>
    <li class="col-md-4 col-xs-4">
      <span class="title"><i class="fa fa-calendar-o"></i>Lượng truy cập tuần </span>
      <h3>1096</h3>
      <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 500</b> from last week</span>
    </li>
    <li class="col-md-4 col-xs-4">
      <span class="title"><i class="fa fa-shopping-cart"></i> Số lượng bài đăng</span>
      <h3 class="color-up">696</h3>
      <span class="diff"><b class="color-up"><i class="fa fa-caret-up"></i> 26</b> from last month</span>
    </li>
  </ul>
  </div>
  <!-- End Top Stats -->
</div>
<!-- END CONTAINER -->

<!-- Start Footer -->
<%- include('layouts/footer') %>
<!-- End Footer -->


</div>
<!-- End Content -->



<!-- ================================================
jQuery Library
================================================ -->
<%- include('layouts/javascript') %>

</body>
</html>