<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="">
    <meta name="description" content="">
    <meta name="keywords" content="" />
  
  
    <!-- ========== Css Files ========== --> 
    <%- include('layouts/head') %>

  </head>
  <body>
  <!-- Start Page Loading -->
  <%- include('layouts/loading') %>
  <!-- End Page Loading -->
  <!-- START HEADER -->
  <%- include('layouts/header') %>
  <!-- END HEADER -->


<!-- START SIDEBAR -->
<%- include('layouts/sidebar') %>
<!-- END SIDEBAR -->

<!-- START CONTENT -->
<div class="content">

<!-- START CONTAINER -->
<div class="container-padding">
  <!-- Start Row -->
  <div class="row">
    <!-- Start Panel -->
    <div class="col-md-12">
      <div class="panel panel-default">
    
        <div class="panel-title">
          Quản lý bài review
        </div>

        <button type="button" class="btn btn-option1 btn-search">Tìm kiếm</button>
        <button class="btn btn-light btn-refresh-review"><i class="fa fa-refresh"></i></button>
    
      </div>
      <div class="panel panel-default" id="panel-search" >
        <div class="panel-body">
          <form class="form" action="/admin/review" method="GET">
            <div class="panel-title">
              Tìm kiếm bài review
            </div>
            <div class="flex-search">
              <div class="form-group flex-left-search">
                <input type="text" class="form-control" id="book_name" name="book_name" placeholder="Nhập tên sách">
              </div>
              <!-- <div class="form-group flex-right-search" >
                <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Nhập tên reviewer">
              </div> -->
            </div>
            <div class="flex-search">
              <div class="form-group flex-left-search">
                <select class="selectpicker" multiple data-live-search="true" name="category">
                    <% bookCategory.forEach(categories =>{%>
                      <option value="<%- categories._id %>"> <%- categories.name %></option>
                    <% })  %>
              </select>
              </div>
              <div class="form-group flex-right-search">
                <select class="selectpicker form-control" name="hide">
                  <option data-content="Chọn status"></option>
                  <option data-content="<span class='label label-success'>Active</span>">false</option>
                  <option data-content="<span class='label label-danger'>InActive</span>">true</option>
                </select>   
              </div>
            </div>
              <div class="form-group ">
                <button type="button" class="btn btn-close-search">Đóng</button>
                <button type="submit" class="btn btn-default">Tìm kiếm</button>              
              </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        
        <div class="panel-body">
          
          <div class="table-responsive">
            <p>Số lượng bài review: <%- totalReview %></p>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <td>Book</td>
                  <td>Reviewer</td>
                  <td>Category</td>
                  <td>Date</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>    

                <% allReviewPage.data.forEach(review =>{  %>
                  <tr>
                    <td><%- review.book_name %></td>
                    <td><%- review.reviewer.profile.full_name %></td>
                    <td>
                      <% review.category.forEach(category =>{%>
                        <%- category.name %>
                      <% })  %>
                    </td>
                    <td><%- review.createdAt %></td>
                    <td >
                      <button href="" data-id="<%- review._id %>" data-toggle="modal" data-target="#inActive-review-modal" class=" btn-change-status <%- review.hide ? 'btn btn-danger' : 'btn btn-success' %>">
                        <%- review.hide ? 'InActive' : 'Active' %>
                      </button> 
                    </td>
                  </tr> 
                <% }) %>
              </tbody>
            </table>
          </div> 
        </div>
        
  <%- include('layouts/pagination.ejs', {
        limitTitle: 'Bài review',
        data: allReviewPage,
        pageLink: '/admin/review',
        title: 'Chọn số bài mỗi trang'
    }) %> 
      </div>
      <div class="modal fade" id="inActive-review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%- allReviewPage.data.hide ? 'Active Review' : 'InActive Review' %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body" >
                  Bạn có chắc chắn muốn <%- allReviewPage.data.hide ? 'Active Review' : 'InActive Review' %> bài review này?
              </div>
              <div class="modal-footer">
                    <button id="btn-inActive-review" data-id="???" type="button" class="btn btn-success">Chấp nhận</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy bỏ</button>
              </div>
          </div>
      </div>
  </div>
</div>
    </div>
 
  <!-- End Row -->
</div>
<!-- END CONTAINER -->
</div>
<!-- End Content -->




<%- include('layouts/javascript') %>


</body>
</html>