<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="">
	<meta name="description" content="">
	<meta name="keywords" content="" />


	<!-- ========== Css Files ========== -->
	<%- include('layouts/head') %>

</head>

<body>
	<!-- Start Page Loading -->
	<%- include('layouts/loading') %>
	<!-- End Page Loading -->
	<!-- START HEADER -->
	<%- include('layouts/header') %>
	<!-- END HEADER -->


	<!-- START SIDEBAR -->
	<%- include('layouts/sidebar') %>
	<!-- END SIDEBAR -->

	<!-- START CONTENT -->
	<div class="content">
		<!-- Start Page Header -->
		<div class="page-header">
			<h1 class="title">Danh sách thể loại bài review</h1>

			<!-- Start Page Header Right Div -->
			<div class="right">
				<div class="btn-group" role="group" aria-label="...">
					<a href="/admin/review-category/create" class="btn btn-light">Tạo mới</a>
					<a href="/admin/review-category" class="btn btn-light"><i class="fa fa-refresh"></i></a>
					<a href="#" class="btn btn-light"><i class="fa fa-search"></i></a>
				</div>
			</div>
			<!-- End Page Header Right Div -->
		</div>
		<!-- End Page Header -->

		<!-- START CONTAINER -->
		<div class="container-flush">
			<!-- Start Row -->
			<div class="row">
				<!-- Start Panel -->

				<div class="col-md-12 col-lg-12">
					<div class="panel panel-default">

						<div class="panel-title">
							Tìm kiếm
							<ul class="panel-tools">
								<li><a class="icon minimise-tool"><i class="fa fa-minus"></i></a></li>
								<li><a class="icon expand-tool"><i class="fa fa-expand"></i></a></li>
								<li><a class="icon closed-tool"><i class="fa fa-times"></i></a></li>
							</ul>
						</div>
						<div class="panel-body">
							<form class="form" action="/admin/review-category" method="GET">
								<div class="row">
									<div class="col-md-12 col-lg-6">
										<div class="form-group">
											<label for="input1" class="form-label">Tên thể loại</label>
											<input type="text" class="form-control" id="cate_name" name="cate_name"
											placeholder="Nhập tên thể loại" value="<%- params.cate_name %>">
										</div>
									</div>
									<div class="col-md-12 col-lg-6">
										<div class="form-group">
											<label for="input1" class="form-label">Tên ngắn</label>
											<input type="text" class="form-control" id="short_name" name="short_name"
											placeholder="Nhập tên ngắn" value="<%- params.short_name %>">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-lg-6">
										<div class="form-group">
											<label class="form-label">Thể loại</label>
											<select class="form-control selectpicker" name="tag_color" >
												<option value="none" disabled selected hidden>Chọn màu</option>
												<option value="blue">Blue</option>
												<option value="red">Red</option>
												<option value="violet">Violet</option>
												<option value="green">Green</option>
												<option value="indigo">Indigo</option>
												<option value="orange">Orange</option>
												<option value="yell">Yellow</option>
											</select>
										</div>
									</div>
									<div class="col-md-12 col-lg-6">
										<div class="form-group">
											<label for="input1" class="form-label">Trạng thái</label>
											<select class="selectpicker form-control" name="hide">
												<option data-content="Chọn trạng thái"></option>
												<option data-content="<span class='label label-success'>Active</span>">false</option>
												<option data-content="<span class='label label-danger'>InActive</span>">true</option>
											</select>  
										</div>
									</div>
								</div>
								<div class="button-container">
									<a href="/admin/review-category" class="btn">Hủy</a>
									<button type="submit" class="btn btn-default">Tìm kiếm</button>
								</div>
							</form>
						</div>

					</div>
				</div>
				<!-- End Panel -->
			</div>
			<!-- End Row -->
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-title">
							Danh sách <span class="label label-default"><%- totalCategory %></span>
						</div>
						<div class="panel-body">

							<div class="table-responsive">
								<table class="table table-bordered table-striped">
									<thead>
										<tr>
											<td>Tên thể loại</td>
											<td>Tên ngắn</td>
											<td>Màu thể loại</td>
											<td>Trạng thái</td>
											<td>Chức năng</td>
										</tr>
									</thead>
									<tbody>

										<% allCatePage.data.forEach(cate =>{  %>
										<tr>
											<td><%- cate.name %></td>
											<td><%- cate.short_name %></td>
											<td>
												<span class="label <%- cate.tag_color %>"><%- cate.tag_color %></span>
											</td>
											<td>
												<%- cate.hide ? "<span class='label label-danger'>InActive</span>" : "<span class='label label-success'>Active</span>" %>
											</td>
											<td>
												<a href="/admin/review-category/create?id=<%- cate._id %>" class="edit-icon margin-r-5" ><i class="fa fa-edit"></i></a>
												<a onclick="confirmBeforeBlock('<%- cate._id %>', '<%- cate.hide %>')" class="block-icon" ><i class="fa fa-ban margin-r-5"></i></a>
											</td>
										</tr>
										<% }) %>
									</tbody>
								</table>
							</div>
						</div>

						<%- include('layouts/pagination.ejs', {
							limitTitle: 'Thể loại',
							data: allCatePage,
							pageLink: '/admin/review-category'+link,
							title: 'Chọn số lượng hiển thị mỗi trang'
						}) %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTAINER -->
	</div>
	<!-- End Content -->




	<%- include('layouts/javascript') %>
	<script>
		async function confirmBeforeBlock(id,status) {
			cuteAlert({
				type: "question",
				title: status === 'true'?"Bỏ ẩn":"Ẩn",
				message: status === 'true'?"Bạn có muốn bỏ ẩn thể loại này?": "Bạn có muốn ẩn thể loại này không?",
				confirmText: "Đồng ý",
				cancelText: "Hủy"
			}).then(async e => {
				if (e) {
					fetch('/admin/review-category/hideCate', {
						method: 'PUT',
						headers: {
							'Content-Type': 'application/json',
							// 'Accept': 'application/json',
						},
						body: JSON.stringify({ id })
					})
					.then(response => response.json())
					.then(data => {
						if(!data.error) {
							cuteToast({
								type: "success", // or 'info', 'error', 'warning'
								message: data.message,
								timer: 5000
								});
								document.location.reload(true);
						} else {
							cuteToast({
								type: "error", // or 'info', 'error', 'warning'
								message: data.message,
								timer: 5000
							});
						}
					})
					.catch(err => {
						cuteToast({
							type: "error", // or 'info', 'error', 'warning'
							message: data.message,
							timer: 5000
						});
					});
				}
			})
		}

		
	</script>

</body>

</html>