<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title><%- blog.title %> </title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <link rel="stylesheet" href="/user/css/blog.css">
    <%- include('layouts/head') %>

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="hero common-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-ct">
                            <h1> Chi tiết blog</h1>
                            <ul class="breadcumb">
                                <li class="active"><a href="/">Trang chủ</a></li>
                                <li> <span class="ion-ios-arrow-right"></span> Chi tiết blog</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- blog detail section-->
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="blog-detail-ct">
                            <h1 class="title"><%- blog.title %> </h1>                    
                            <span class="time datetime-create"><%- blog.createdAt %></span>
                            <div class="blog-content">
                                <%- blog.content %> 
                            </div>
                            <!-- share link -->
                            <div class="flex-it share-tag">
                                <div class="social-link">
                                    <h4>Chia sẽ</h4>
                                    <a href="#"><i class="ion-social-facebook"></i></a>
                                </div>
                                <div class="right-it">
                                    
                                    <h4>Tags</h4>
                                    <% for( let i = 0; i < blog.tag.length; i++ ) { %>
                                        <a href="/blog?id=<%- blog.tag[i]._id %>"><%- blog.tag[i].name %><%- (i !== blog.tag.length - 1)? ', ':'' %>  </a>
                                    <% } %>
                                    <% blog.tag.forEach(tg => { %>
                                        
                                    <% }) %>
                                </div>
                            </div>
                            <!-- comment items -->
                            <div class="comments">
                                <p style="margin-bottom: 5px !important;"><i class="ion-android-star"></i><span class="rate-number"><%- blog.vote %></span> / 5</p>
                                <div class="rate-star-custom movie-rate-custom" style="margin-bottom: 10px;">
                                    <p>Đánh giá bài này:  </p>
                                    <div class="rate">
                                        <input 
                                            type="radio" 
                                            id="star5" 
                                            name="rate" 
                                            value="5" 
                                            class="<%- !user && 'loginLink' %>" <%- (blogReaction.rate === 5) && 'checked' %>
                                            onclick="handleRateBlog('<%- blog._id %>', '5')"
                                        />
                                        <label for="star5" title="text">5 stars</label>
                                        <input
                                            type="radio" 
                                            id="star4" 
                                            name="rate" 
                                            value="4" 
                                            class="<%- !user && 'loginLink' %>" <%- (blogReaction.rate === 4) && 'checked' %>
                                            onclick="handleRateBlog('<%- blog._id %>', '4')"
                                        />
                                        <label for="star4" title="text">4 stars</label>
                                        <input 
                                            type="radio" 
                                            id="star3" 
                                            name="rate" 
                                            value="3" 
                                            class="<%- !user && 'loginLink' %>" <%- (blogReaction.rate === 3) && 'checked' %>
                                            onclick="handleRateBlog('<%- blog._id %>', '3')"
                                        />
                                        <label for="star3" title="text">3 stars</label>
                                        <input 
                                            type="radio" 
                                            id="star2" 
                                            name="rate" 
                                            value="2" 
                                            class="<%- !user && 'loginLink' %>" <%- (blogReaction.rate === 2) && 'checked' %>
                                            onclick="handleRateBlog('<%- blog._id %>', '2')"
                                        />
                                        <label for="star2" title="text">2 stars</label>
                                        <input 
                                            type="radio" 
                                            id="star1" 
                                            name="rate" 
                                            value="1" 
                                            class="<%- !user && 'loginLink' %>" <%- (blogReaction.rate === 1) && 'checked' %>
                                            onclick="handleRateBlog('<%- blog._id %>', '1')"
                                        />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                </div>
                                <h4 class="mb-20"><%- totalComment %>  Bình luận</h4>
                                
                                <form id="blogCommentForm">
                                    <div class="comment-container">
                                        <input type="hidden" id="blogId" value="<%- blog._id %>">
                                        <textarea 
                                            type="text" 
                                            class="comment-input"
                                            id="blogCommentInput"
                                            placeholder="Nhập bình luận của bạn vào đây"
                                        ></textarea>
                                        <button type="submit" class="btn main-button ml-20 button-custom <%- !user && 'loginLink' %>">Bình luận</button>
                                    </div>
                                </form>
                                
                                <div class="comment-container-display">
                                    <% allComment.data.forEach(comment => { %>
                                        <div class="mv-user-review-item mv-user-review-item-custom" id="<%- comment._id %>" data-id="<%- comment._id %>">
                                            <div class="user-infor comment-info-container">
                                                <img src="<%- comment.user.profile.image %> " alt="" width="40px" height="40px">
                                                <div class="comment-info">
                                                    <h4 style="color: #ffffff;"><%- comment.user.profile.full_name %></h4>
                                                    <p class="time datetime <%- comment._id%>"><%- comment.createdAt %></p>
                                                </div>
                                                
                                                <% if (user && comment.user.equals(user._id)) { %>
                                                    <div class="dropdown option-menu comment-options-btn">
                                                        <!-- <button class="dropdown-toggle" type="button" data-toggle="dropdown"> -->
                                                        <i class="dropdown-toggle ion-android-menu" type="button" data-toggle="dropdown">
                                                        </i>
                                                        
                                                        <ul class="dropdown-menu">
                                                            <li><a onclick="editCommentBlog('<%- comment._id %>')">Chỉnh sửa</a></li>
                                                            <li><a onclick="deleteCommentBlog('<%- comment._id %>')">Xóa</a></li>
                                                        </ul>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <p class="comment-content"><%- comment.content %></p>
                                        </div>
                                    <% }) %>
                                </div>
                                
                                <%- include('layouts/pagination.ejs', {
                                    limitTitle: 'Bình luận',
                                    data: allComment,
                                    pageLink: '/blog/'+blog.slug+'-'+blog._id,
                                    title: 'Bình luận mỗi trang'
                                }) %> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="searh-form">
                                <h4 class="sb-title">Tìm bài viết</h4>
                                <form class="form-style-1" action="/blog/">
                                    <div class="row">
                                        <div class="col-md-12 form-it">
                                            <label>Tên blog</label>
                                            <input type="text" placeholder="Tên blog" name="title">
                                        </div>
                                        <div class="col-md-12 form-it">
                                            <label>Tags</label>
                                            <div class="group-ip">
                                                <select
                                                    name="id" multiple="" class="ui fluid dropdown">
                                                    <option value="">Chọn tag</option>
                                                    <% blogTag.forEach(tag => { %>
                                                        <option value="<%- tag._id %>"><%- tag.name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>	
                                        </div>
                                        <div class="col-md-12 ">
                                            <input class="submit" type="submit" value="Tìm kiếm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="ads">
                                <img src="/user/images/uploads/ads1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of  blog detail section-->        
    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
    <script>
		$(document).ready(function() {
			moment.locale('vi');
			let comments = '<%- allComment.data.map(cmt => cmt._id) %>';

			comments.split(',').forEach(comment => {
				let time = $('.datetime.'+comment).html();
				$('.datetime.'+comment).text(moment(new Date(time)).format('lll'));       
			})
		})
    </script>
</body>
</html>

