<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/user/css/book-detail.css">

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="sliderv2 movie-items slider sliderv3">
            <div class="container">
                <div class="row">
                    <div class="slider-single-item">
                        <div class="movie-item">
                            <div class="title-in">
                                <div class="cate">
                                    <% book.category.forEach(cate => { %>
                                        <span class="<%- cate.tag_color %> "><a href="#"><%- cate.short_name %></a></span>
                                    <% }) %>
                                </div>
                                <h1><a><%- book.book_name %> </a></h1>
                                <div class="social-btn">
                                    <a href="#" class="parent-btn"><i class="ion-heart"></i> Thêm vào yêu thích</a>
                                    <div class="hover-bnt">
                                        <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Chia sẽ</a>
                                        <div class="hvr-item">
                                            <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                        </div>
                                    </div>		
                                </div>
                                <div class="mv-details">
                                    <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                    <ul class="mv-infor">
                                        <li>  Ngày đăng: <%- book.createdAt %>  </li>
                                    </ul>
                                </div>	
                            </div>		
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="movie-items">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-8">
                        <div class="movie-single-ct main-content">
                            <div class="movie-tabs">
                                <div class="tabs">
                                    <ul class="tab-links tabs-mv">
                                        <li class="active"><a href="#overview">Overview</a></li>
                                        <li><a href="#comment"> Comment</a></li>
                                        <li><a href="#related-book"> Related Books</a></li>                        
                                    </ul>
                                    <div class="tab-content">
                                        <div id="overview" class="tab active">
                                            <p style="font-size: 16px;"><%- book.review %></p>
                                        </div>
                                        <div id="comment" class="tab comment">
                                            
                                            <div class="comment-container">
                                                <textarea 
                                                    type="text" 
                                                    class="comment-input"
                                                    placeholder="Nhập bình luận của bạn vào đây"
                                                ></textarea>
                                                <button type="button" class="btn main-button ml-20 button-custom">Bình luận</button>
                                            </div>
                                            
                                            <% comments.forEach(comment => { %>
                                                <div class="mv-user-review-item mv-user-review-item-custom">
                                                    <div class="user-infor comment-info-container">
                                                        <img src="<%- comment.user.profile.image %>" alt="" width="40px" height="40px">
                                                        <div class="comment-info">
                                                            <h4 style="color: #ffffff;"><%- comment.user.profile.full_name %></h4>
                                                            <p class="time"><%- comment.createdAt %></p>
                                                        </div>
                                                    </div>
                                                    <p><%- comment.content %></p>
                                                </div>
                                            <% }) %>
                                            
                                            <div class="topbar-filter">
                                                <label>Movies per page:</label>
                                                <select>
                                                    <option value="range">5 Movies</option>
                                                    <option value="saab">10 Movies</option>
                                                </select>
                                                <div class="pagination2">
                                                    <span>Page 1 of 2:</span>
                                                    <a class="active" href="#">1</a>
                                                    <a href="#">2</a>
                                                    <a href="#"><i class="ion-arrow-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="related-book" class="tab related-book">
                                            <% relatedBook.forEach(related => { %>
                                                <div class="movie-item-style-2">
                                                    <img src="<%- related.image.small %>" alt="" width="185px" height="284px">
                                                    <div class="mv-item-infor">
                                                        <h6><a href="/book/<%- related.slug %>-<%- related._id %>"><%- related.book_name %></a></h6>
                                                        <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                                        <p class="describe describe-custom"><%- related.review %></p>
                                                        <p class="run-time"> Ngày đăng: <%- related.createdAt %> </p>
                                                        <p>Người đăng: <a href="#"><%- related.reviewer.profile.full_name %></a></p>
                                                        <p>Tác giả sách: <a href="#"></a></p>
                                                    </div>
                                                </div>
                                            <% }) %>
                                            
                                            <!-- <div class="topbar-filter">
                                                <label>Movies per page:</label>
                                                <select>
                                                    <option value="range">5 Movies</option>
                                                    <option value="saab">10 Movies</option>
                                                </select>
                                                <div class="pagination2">
                                                    <span>Page 1 of 2:</span>
                                                    <a class="active" href="#">1</a>
                                                    <a href="#">2</a>
                                                    <a href="#"><i class="ion-arrow-right-b"></i></a>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="movie-img">
                                <img src="<%- book.image.title %> " alt="">
                                <div class="movie-btn">	
                                    <!-- <div class="btn-transform transform-vertical red">
                                        <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                                        <div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
                                    </div> -->
                                    
                                </div>
                            </div>
                            <div class="celebrities">
                                <h4 class="sb-title">Người review</h4>
                                <div class="celeb-item">
                                    <a href="#"><img src="<%- book.reviewer.profile.image %>" alt="" width="70px" height="70px"></a>
                                    <div class="celeb-author">
                                        <h6><a href="#"><%- book.reviewer.profile.full_name %></a></h6>
                                        <span>Actor</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
