<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" >
<head>
	<!-- Basic need -->
	<title><%- book.book_name %> </title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/user/css/book-detail.css">

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <%- include('layouts/notification') %> 
    
    <div class="content">
        <div class="sliderv2 movie-items slider sliderv3">
            <div class="container">
                <div class="row">
                    <div class="slider-single-item">
                        <div class="movie-item">
                            <div class="title-in">
                                <div class="cate">
                                    <% book.category.forEach(cate => { %>
                                        <span class="<%- cate.tag_color %> "><a href="#"><%- cate.short_name %></a></span>
                                    <% }) %>
                                </div>
                                <h1><a><%- book.book_name %> </a></h1>
                                <div class="social-btn">
                                    
                                    <div class="hover-bnt">
                                        <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>Chia sẽ</a>
                                        <div class="hvr-item">
                                            <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                        </div>
                                    </div>		
                                </div>
                                <div class="mv-details">
                                    <p><i class="ion-android-star"></i><span><%- book.vote %></span> /5</p>
                                    <ul class="mv-infor">
                                        <li class="datetime-create">  Ngày đăng: <%- book.createdAt %>  </li>
                                    </ul>
                                </div>	
                                
                                <div class="rate-star-custom movie-rate-custom">
                                    <p>Đánh giá bài này:  </p>
                                    <div class="rate">
                                        <input 
                                            type="radio" 
                                            id="star5" 
                                            name="rate" 
                                            value="5" 
                                            class="<%- !user && 'loginLink' %>" <%- (bookReaction.rate === 5) && 'checked' %>
                                            onclick="handleRateReview('<%- book._id %>', '5')"
                                        />
                                        <label for="star5" title="text">5 stars</label>
                                        <input
                                            type="radio" 
                                            id="star4" 
                                            name="rate" 
                                            value="4" 
                                            class="<%- !user && 'loginLink' %>" <%- (bookReaction.rate === 4) && 'checked' %>
                                            onclick="handleRateReview('<%- book._id %>', '4')"
                                        />
                                        <label for="star4" title="text">4 stars</label>
                                        <input 
                                            type="radio" 
                                            id="star3" 
                                            name="rate" 
                                            value="3" 
                                            class="<%- !user && 'loginLink' %>" <%- (bookReaction.rate === 3) && 'checked' %>
                                            onclick="handleRateReview('<%- book._id %>', '3')"
                                        />
                                        <label for="star3" title="text">3 stars</label>
                                        <input 
                                            type="radio" 
                                            id="star2" 
                                            name="rate" 
                                            value="2" 
                                            class="<%- !user && 'loginLink' %>" <%- (bookReaction.rate === 2) && 'checked' %>
                                            onclick="handleRateReview('<%- book._id %>', '2')"
                                        />
                                        <label for="star2" title="text">2 stars</label>
                                        <input 
                                            type="radio" 
                                            id="star1" 
                                            name="rate" 
                                            value="1" 
                                            class="<%- !user && 'loginLink' %>" <%- (bookReaction.rate === 1) && 'checked' %>
                                            onclick="handleRateReview('<%- book._id %>', '1')"
                                        />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                </div>
                            </div>		
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="movie-items">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-8">
                        <div class="movie-single-ct main-content">
                            <div class="movie-tabs">
                                <div class="tabs">
                                    <ul class="tab-links tabs-mv">
                                        <li class="<%- (allComment.page === 1 && allComment.limit === 5) && 'active' %>"><a href="#overview">Tổng quan</a></li>
                                        <li class="<%- (allComment.page !== 1 || allComment.limit !== 5) && 'active' %>"><a href="#comment"> Bình luận</a></li>
                                        <li><a href="#related-book"> Bài liên quan</a></li>                        
                                    </ul>
                                    <div class="tab-content">
                                        <div id="overview" class="content-review-book tab <%- (allComment.page === 1 && allComment.limit === 5) && 'active' %> ">
                                            <%- book.review %>
                                        </div>
                                        
                                        <div id="comment" class="tab comment <%- (allComment.page !== 1 || allComment.limit !== 5) && 'active' %>">
                                            <form id="bookCommentForm">
                                                <div class="comment-container">
                                                    <input type="hidden" id="bookId" value="<%- book._id %>">
                                                    <textarea 
                                                        type="text" 
                                                        class="comment-input"
                                                        id="bookCommentInput"
                                                        placeholder="Nhập bình luận của bạn vào đây"
                                                        required
                                                    ></textarea>
                                                    <button type="submit" class="btn main-button ml-20 button-custom <%- !user && 'loginLink' %>">Bình luận</button>
                                                </div>
                                            </form>
                                            
                                            <div class="comment-container-display">
                                                <% allComment.data.forEach(comment => { %>
                                                    <div class="mv-user-review-item mv-user-review-item-custom" id="<%- comment._id %>" data-id="<%- comment._id %>">
                                                        <div class="user-infor comment-info-container">
                                                            <img src="<%- comment.user.profile.image %>" alt="" width="40px" height="40px">
                                                            <div class="comment-info">
                                                                <h4 style="color: #ffffff;"><%- comment.user.profile.full_name %></h4>
                                                                <p class="time datetime <%- comment._id %>"><%- comment.createdAt %></p>
                                                            </div>
                                                            
                                                            <% if (user && comment.user.equals(user._id)) { %>
                                                                <div class="dropdown option-menu comment-options-btn">
                                                                    <!-- <button class="dropdown-toggle" type="button" data-toggle="dropdown"> -->
                                                                    <i class="dropdown-toggle ion-android-menu" type="button" data-toggle="dropdown">
                                                                    </i>
                                                                    
                                                                    <ul class="dropdown-menu">
                                                                        <!-- <li><a data-toggle="modal" data-target="#exampleModal">Chỉnh sửa</a></li> -->
                                                                        <li><a onclick="editCommentReview('<%- comment._id %>')">Chỉnh sửa</a></li>
                                                                        <li><a onclick="deleteCommentReview('<%- comment._id %>')">Xóa</a></li>
                                                                    </ul>
                                                                </div>
                                                            <% } %>
                                                            
                                                        </div>
                                                        <p class="comment-content"><%- comment.content %></p>
                                                        
                                                    </div>
                                                <% }) %>
                                            </div>
                                            
                                            <%- include('layouts/pagination.ejs', {
                                                limitTitle: 'Bình luận',
                                                data: allComment,
                                                pageLink: '/book/'+book.slug+'-'+book._id,
                                                title: 'Bình luận mỗi trang'
                                            }) %> 
                                        </div>
                                        <div id="related-book" class="tab related-book content-review-book">
                                            <div class="flex-wrap-movielist">
                                                <% relatedBook.forEach(related => { %>
                                                    <div class="movie-item-style-2 movie-item-style-1">
                                                        <img src="<%- related.image.small %> " alt="">
                                                        <div class="hvr-inner">
                                                            <a  href="/book/<%- related.slug %>-<%= related._id %>"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                                        </div>
                                                        <div class="mv-item-infor">
                                                            <h6><a href="/book/<%- related.slug %>-<%= related._id %>"><%- related.book_name %> </a></h6>
                                                            <p class="rate"><i class="ion-android-star"></i><span><%- related.vote %></span> /5</p>
                                                        </div>
                                                    </div>					
                                                <% }) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="movie-img">
                                <img src="<%- book.image.title %> " alt="">
                                <div class="movie-btn">	
                                    <!-- <div class="btn-transform transform-vertical red">
                                        <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                                        <div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
                                    </div> -->
                                    
                                </div>
                            </div>
                            <div class="celebrities">
                                <h4 class="sb-title">Người review</h4>
                                <div class="celeb-item">
                                    <a href="/user/profile/<%- book.reviewer.profile.username %>-<%- book.reviewer._id %>"><img src="<%- book.reviewer.profile.image %>" alt="" width="70px" height="70px"></a>
                                    <div class="celeb-author">
                                        <h6><a href="/user/profile/<%- book.reviewer.profile.username %>-<%- book.reviewer._id %>"><%- book.reviewer.profile.full_name %></a></h6>
                                        <span>Tác giả</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary">Save changes</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
    </div>
    
    
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
    <script>
		$(document).ready(function() {
			moment.locale('vi');
			let comments = '<%- allComment.data.map(cmt => cmt._id) %>';

			comments.split(',').forEach(comment => {
				let time = $('.datetime.'+comment).html();
				$('.datetime.'+comment).text(moment(new Date(time)).format('lll'));       
			})
		})
    </script>
</body>
</html>
