<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title><%- id? currentCategory.name: 'Thể loại' %></title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="hero common-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-ct">
                            <h1> <%- id? currentCategory.name: 'Tất cả' %> </h1>
                            <ul class="breadcumb">
                                <li class="active"><a href="/">Trang chủ</a></li>
                                <li> <span class="ion-ios-arrow-right"></span> Danh sách bài biết</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="topbar-filter">
                            <p style="padding: 5px 0px">Tìm thấy <span><%- totalBooks %> </span> bài viết</p>
                        </div>
                        <div class="flex-wrap-movielist">
                            <% bookPage.data.forEach(book => { %>
                                <div class="movie-item-style-2 movie-item-style-1">
                                    <img src="<%- book.image.small %> " alt="">
                                    <div class="hvr-inner">
                                        <a  href="moviesingle.html"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                    </div>
                                    <div class="mv-item-infor">
                                        <h6><a href="#"><%- book.book_name %> </a></h6>
                                        <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                    </div>
                                </div>					
                            <% }) %>
                        </div>		
                        <%- include('layouts/pagination.ejs', {
                            limitTitle: 'Bài viết',
                            data: bookPage,
                            pageLink: '/book/category'+(id && '?id='+id),
                            title: 'Bài viết mỗi trang',
                            isParam: true,
                        }) %> 
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="searh-form">
                                <h4 class="sb-title">Tìm bài viết</h4>
                                <form class="form-style-1" action="#">
                                    <div class="row">
                                        <div class="col-md-12 form-it">
                                            <label>Tên bài viết</label>
                                            <input type="text" placeholder="Tên bài viết">
                                        </div>
                                        <div class="col-md-12 form-it">
                                            <label>Thể loại</label>
                                            <div class="group-ip">
                                                <select
                                                    name="id" multiple="" class="ui fluid dropdown">
                                                    <option value="">Chọn thể loại</option>
                                                    <% bookCategory.forEach(cate => { %>
                                                        <option value="<%- cate._id %>"><%- cate.name %></option>
                                                    <% }) %>
                                                </select>
                                            </div>	
                                        </div>
                                        <div class="col-md-12 ">
                                            <input class="submit" type="submit" value="Tìm kiếm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="ads">
                                <img src="/user/images/uploads/ads1.png" alt="">
                            </div>
                            <div class="sb-facebook sb-it">
                                <h4 class="sb-title">Find us on Facebook</h4>
                                <iframe src="" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhaintheme%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"  height="315" style="width:100%;border:none;overflow:hidden" ></iframe>
                            </div>
                            <!-- <div class="sb-twitter sb-it">
                                <h4 class="sb-title">Tweet to us</h4>
                                <div class="slick-tw">
                                    <div class="tweet item" id="599202861751410688">
                                    </div>
                                    <div class="tweet item" id="297462728598122498">
                                    </div>
                                </div>					
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
