<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<!-- <title>Open Pediatrics</title> -->
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <%- include('layouts/notification') %> 
    
    <div class="content">
        <div class="slider movie-items">
            <div class="container">
                <div class="row">
                    <div class="social-link">
                        <p>Theo dõi chúng tôi: </p>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-googleplus"></i></a>
                        <a href="#"><i class="ion-social-youtube"></i></a>
                    </div>
                    <div  class="slick-multiItemSlider">
                        <% popularBooks.forEach(book => { %>
                            <div class="movie-item">
                                <div class="mv-img">
                                    <a href="#"><img src="<%- book.image.title %> " alt="" width="285" height="437"></a>
                                </div>
                                <div class="title-in">
                                    <div class="cate">
                                        <% book.category.forEach(cate => { %>
                                            <span class="<%- cate.tag_color %>"><a href="/book/category/<%- cate._id %>"><%- cate.short_name %> </a></span>
                                        <% }) %>
                                    </div>
                                    <h6 class="short-text"><a href="/book/<%- book.slug %>-<%- book._id %>"><%- book.book_name %> </a></h6>
                                    <p><i class="ion-android-star"></i><span>7.4</span> / 10</p>
                                </div>
                            </div> 
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="movie-items">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-8">
                        <% for(let i = 0; i < popularCategories.length; i++) { %>
                            <div class="title-hd">
                                <h2><%- popularCategories[i].name %> </h2>
                                <a href="/book/category/<%- popularCategories[i]._id %> " class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                            </div>
                            <div class="tabs">
                                <ul class="tab-links">
                                    <li class="active"><a href="#<%- popularCategories[i]._id %>1">#Mới nhất</a></li>
                                    <li><a href="#<%- popularCategories[i]._id %>2"> #Đánh giá nhiều nhất</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="<%- popularCategories[i]._id %>1" class="tab active">
                                        <div class="row">
                                            <div class="slick-multiItem">
                                                <% latestBooks[i].forEach(latest => { %>
                                                
                                                <div class="slide-it">
                                                    <div class="movie-item">
                                                        <div class="mv-img">
                                                            <img src="<%- latest.image.small %>" alt="" width="185" height="284">
                                                        </div> 
                                                        <div class="hvr-inner">
                                                            <a  href="/book/<%- latest.slug %>-<%= latest._id %>"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                                        </div>
                                                        <div class="title-in">
                                                            <h6><a href="#"><%- latest.book_name %></a></h6>
                                                            <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <% }) %>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="<%- popularCategories[i]._id %>2" class="tab">
                                        <div class="row">
                                            <div class="slick-multiItem">
                                                <% votestBooks[i].forEach(votest => { %>
                                                
                                                <div class="slide-it">
                                                    <div class="movie-item">
                                                        <div class="mv-img">
                                                            <img src="<%- votest.image.small %>" alt="" width="185" height="284">
                                                        </div> 
                                                        <div class="hvr-inner">
                                                            <a  href="/book/<%- votest.slug %>-<%- votest._id %>"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                                        </div>
                                                        <div class="title-in">
                                                            <h6><a href="#"><%- votest.book_name %> </a></h6>
                                                            <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                <% }) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="ads">
                                <img src="http://placeimg.com/336/296/sports" alt="" width="336" height="296">
                            </div>
                            <div class="celebrities">
                                <h4 class="sb-title">Những người đóng góp nhiều nhất</h4>
                                <% mostContributor.forEach(contributor => { %>
                                 
                                    <div class="celeb-item">
                                        <a href="#"><img src="<%- contributor.profile.image %>" alt="" width="70" height="70"></a>
                                        <div class="celeb-author">
                                            <h6><a href="#"><%- contributor.profile.full_name %></a></h6>
                                            <span>Tác giả</span>
                                        </div>
                                    </div>
                                <% }) %>
                                <a href="/writer" class="btn">Xem tất cả<i class="ion-ios-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
