<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="slider movie-items">
            <div class="container">
                <div class="row">
                    <div class="social-link">
                        <p>Theo dõi chúng tôi: </p>
                        <a href="#"><i class="ion-social-facebook"></i></a>
                        <a href="#"><i class="ion-social-twitter"></i></a>
                        <a href="#"><i class="ion-social-googleplus"></i></a>
                        <a href="#"><i class="ion-social-youtube"></i></a>
                    </div>
                    <div  class="slick-multiItemSlider">
                        <% for(let i = 0; i < 9; i++){ %> 
                        <div class="movie-item">
                            <div class="mv-img">
                                <a href="#"><img src="/user/images/uploads/slider1.jpg" alt="" width="285" height="437"></a>
                            </div>
                            <div class="title-in">
                                <div class="cate">
                                    <span class="blue"><a href="/book?category=<%= i %>">Khoa học</a></span>
                                </div>
                                <h6><a href="/book/<%= i %>">Phi lí trí</a></h6>
                                <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="movie-items">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-8">
                        <div class="title-hd">
                            <h2>Sách kỹ năng</h2>
                            <a href="/book" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                        </div>
                        <div class="tabs">
                            <ul class="tab-links">
                                <li class="active"><a href="#tab1">#Mới nhất</a></li>
                                <li><a href="#tab2"> #Đánh giá nhiều nhất</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab1" class="tab active">
                                    <div class="row">
                                        <div class="slick-multiItem">
                                            <% for(let i = 0; i < 9; i++){ %>
                                            
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="/user/images/uploads/mv-item1.jpg" alt="" width="185" height="284">
                                                    </div> 
                                                    <div class="hvr-inner">
                                                        <a  href="/book/<%= i %>"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="#">Đi về phương đông</a></h6>
                                                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2" class="tab">
                                    <div class="row">
                                        <div class="slick-multiItem">
                                            <% for(let i = 0; i < 9; i++){ %>
                                            
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="/user/images/uploads/mv-item1.jpg" alt="" width="185" height="284">
                                                    </div> 
                                                    <div class="hvr-inner">
                                                        <a  href="/book/<%= i %>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="#">Interstellar</a></h6>
                                                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="title-hd">
                            <h2>Sách trinh thám</h2>
                            <a href="/book" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                        </div>
                        <div class="tabs">
                            <ul class="tab-links-2">
                                <li class="active"><a href="#tab3"> #Mới nhất</a></li>
                                <li><a href="#tab4"> #Đánh giá nhiều nhất</a></li>                        
                            </ul>
                            <div class="tab-content">
                                <div id="tab3" class="tab active">
                                    <div class="row">
                                        <div class="slick-multiItem">
                                            <% for(let i = 0; i < 9; i++){ %>
                                            
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="/user/images/uploads/mv-item1.jpg" alt="" width="185" height="284">
                                                    </div> 
                                                    <div class="hvr-inner">
                                                        <a  href="/book/<%= i %>"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="#">Phi lí trí</a></h6>
                                                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab4" class="tab">
                                    <div class="row">
                                        <div class="slick-multiItem">
                                            <% for(let i = 0; i < 9; i++){ %>
                                            
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="/user/images/uploads/mv-item1.jpg" alt="" width="185" height="284">
                                                    </div> 
                                                    <div class="hvr-inner">
                                                        <a  href="/book?id=1"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="#">Dạy con làm giàu</a></h6>
                                                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="title-hd">
                            <h2>Khoa học</h2>
                            <a href="/book" class="viewall">Xem tất cả <i class="ion-ios-arrow-right"></i></a>
                        </div>
                        <div class="tabs">
                            <ul class="tab-links-2">
                                <li class="active"><a href="#tab5"> #Mới nhất</a></li>
                                <li><a href="#tab6"> #Đánh giá nhiều nhất</a></li>                        
                            </ul>
                            <div class="tab-content">
                                <div id="tab5" class="tab active">
                                    <div class="row">
                                        <div class="slick-multiItem">
                                            <% for(let i = 0; i < 9; i++){ %>
                                            
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="/user/images/uploads/mv-item1.jpg" alt="" width="185" height="284">
                                                    </div> 
                                                    <div class="hvr-inner">
                                                        <a  href="/book/<%= i %>"> Xem thêm <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="#">Dạy con làm giàu</a></h6>
                                                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab6" class="tab">
                                    <div class="row">
                                        <div class="slick-multiItem">
                                            <% for(let i = 0; i < 9; i++){ %>
                                            
                                            <div class="slide-it">
                                                <div class="movie-item">
                                                    <div class="mv-img">
                                                        <img src="/user/images/uploads/mv-item1.jpg" alt="" width="185" height="284">
                                                    </div> 
                                                    <div class="hvr-inner">
                                                        <a  href="/book/<%= i %>"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                                                    </div>
                                                    <div class="title-in">
                                                        <h6><a href="#">Interstellar</a></h6>
                                                        <p><i class="ion-android-star"></i><span>7.4</span> /10</p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="sidebar">
                            <div class="ads">
                                <img src="/user/images/uploads/ads1.png" alt="" width="336" height="296">
                            </div>
                            <div class="celebrities">
                                <h4 class="sb-title">Những người đóng góp nhiều nhất</h4>
                                <% for(let i = 0; i < 4; i++) { %>
                                <div class="celeb-item">
                                    <a href="#"><img src="/user/images/uploads/ava1.jpg" alt="" width="70" height="70"></a>
                                    <div class="celeb-author">
                                        <h6><a href="#">LEDUTU <%= i %></a></h6>
                                        <span>Tác giả</span>
                                    </div>
                                </div>
                                <% } %>
                                <a href="/writer" class="btn">Xem tất cả<i class="ion-ios-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
