<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/user/css/user.css">

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="hero user-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-ct">
                            <h1>Edward kennedy’s profile</h1>
                            <ul class="breadcumb">
                                <li class="active"><a href="#">Home</a></li>
                                <li> <span class="ion-ios-arrow-right"></span>Favorite movies</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single userfav_list">
            <div class="container">
                <div class="row ipad-width2">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="user-information">
                            <div class="user-img">
                                <a href="#"><img src="<%- userProfile.profile.image %> " alt="" width="120" height="120"><br></a>
                                <a href="#" class="redbtn">Đổi ảnh đại diện</a>
                            </div>
                            <div class="user-fav">
                                <p>Chi tiết tài khoản</p>
                                <ul>
                                    <li><a href="/user/profile/<%- userProfile.profile.username %>-<%- userProfile._id %>">Thông tin</a></li>
                                    <li><a href="/user/book-favorite/<%- userProfile.profile.username %>-<%- userProfile._id %>">Bài viết yêu thích</a></li>
                                    <li class="active"><a>Người viết yêu thích</a></li>
                                    <li><a href="/user/my-review/<%- userProfile.profile.username %>-<%- userProfile._id %>">Bài viết của bạn</a></li>
                                </ul>
                            </div>
                            <div class="user-fav">
                                <p>Khác</p>
                                <ul>
                                    <li><a href="/user/logout">Đăng xuât</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="topbar-filter user">
                            <p>Tìm thấy <span><%- totalfavoriteWriter %> </span> tác giả review</p>
                        </div>
                        
                        <% favoriteWriterPage.data.forEach(usr => { %>
                        <div class="ceb-item-style-2">
                            <img src="<%- usr.profile.image %>" alt="" width="128" height="128">
                            <div class="ceb-infor">
                                <h2><a href="/user/profile/<%- usr.profile.username %>-<%- usr._id %>"><%- usr.profile.full_name %></a></h2>
                                <span><%- usr.profile.username %> </span>
                                <p class="introduction"><%- usr.profile.introduction %></p>
                            </div>
                        </div>
                        <% }) %>

                        <%- include('layouts/pagination.ejs', {
                            limitTitle: 'Tác giả',
                            data: favoriteWriterPage,
                            pageLink: '/user/writer-favorite/'+userProfile.profile.username+'-'+userProfile._id,
                            title: 'Tác giả mỗi trang'
                        }) %> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
