<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="hero user-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-ct">
                            <h1>Edward kennedy’s profile</h1>
                            <ul class="breadcumb">
                                <li class="active"><a href="#">Home</a></li>
                                <li> <span class="ion-ios-arrow-right"></span>Profile</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="user-information">
                            <div class="user-img">
                                <a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
                                <a href="#" class="redbtn">Change avatar</a>
                            </div>
                            <div class="user-fav">
                                <p>Account Details</p>
                                <ul>
                                    <li  class="active"><a href="/user/profile">Profile</a></li>
                                    <li><a href="/user/book-favorite">Favorite book</a></li>
                                    <li><a href="/user/writer-favorite">Favorite writer</a></li>
                                </ul>
                            </div>
                            <div class="user-fav">
                                <p>Others</p>
                                <ul>
                                    <li><a href="#">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="form-style-1 user-pro" action="">
                            <form action="" class="user">
                                <h4>01. Profile details</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Username</label>
                                        <input type="text" placeholder="edwardkennedy">
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Email Address</label>
                                        <input type="text" placeholder="edward@kennedy.com">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>First Name</label>
                                        <input type="text" placeholder="Edward ">
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Last Name</label>
                                        <input type="text" placeholder="Kennedy">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Country</label>
                                        <select>
                                          <option value="united">United States</option>
                                          <option value="saab">Others</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>State</label>
                                        <select>
                                          <option value="united">New York</option>
                                          <option value="saab">Others</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="submit" type="submit" value="save">
                                    </div>
                                </div>	
                            </form>
                            <form action="" class="password">
                                <h4>02. Change password</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Old Password</label>
                                        <input type="text" placeholder="**********">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>New Password</label>
                                        <input type="text" placeholder="***************">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Confirm New Password</label>
                                        <input type="text" placeholder="*************** ">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input class="submit" type="submit" value="change">
                                    </div>
                                </div>	
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
