<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/user/css/user.css">

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="hero user-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-ct">
                            <h1 class="full-name-style"><%- userProfile.profile.full_name %></h1>
                            <ul class="breadcumb">
                                <li class="active"><a href="/">Trang chủ</a></li>
                                <li> <span class="ion-ios-arrow-right"></span>Trang cá nhân</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-single">
            <div class="container">
                <div class="row ipad-width">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="user-information">
                            <div class="user-img">
                                <a href="#"><img src="<%- userProfile.profile.image %> " alt="" width="120" height="120"><br></a>
                                <% if (isAuth){ %>
                                    <a href="#" class="redbtn">Đổi ảnh đại diện</a>
                                <% } %>
                            </div>
                            <div class="user-fav">
                                <p>Chi tiết tài khoản</p>
                                <ul>
                                    <li class="active"><a>Thông tin</a></li>
                                    <li><a href="/user/book-favorite/<%- userProfile.profile.username %>-<%- userProfile._id %>">Bài viết yêu thích</a></li>
                                    <li><a href="/user/writer-favorite/<%- userProfile.profile.username %>-<%- userProfile._id %>">Người viết yêu thích</a></li>
                                    <li><a href="/user/my-review/<%- userProfile.profile.username %>-<%- userProfile._id %>">Bài viết của bạn</a></li>
                                </ul>
                            </div>
                            <% if (isAuth){ %>
                                <div class="user-fav">
                                    <p>Khác</p>
                                    <ul>
                                        <li><a href="/user/logout">Đăng xuât</a></li>
                                    </ul>
                                </div> 
                            <% } %>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        
                        <div class="form-style-1 user-pro" action="">
                            <form action="" class="user">
                                <h4>01. Thông tin chi tiết</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Biệt danh</label>
                                        <input type="text" placeholder="Biệt danh" value="<%- userProfile.profile.username %>" <%- !isAuth && 'disabled' %>>
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Địa chỉ email</label>
                                        <input type="email" placeholder="Địa chỉ email" value="<%- userProfile.email %> " <%- !isAuth && 'disabled' %>>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Tên đầy đủ</label>
                                        <input type="text" placeholder="Tên đầy đủ" value="<%- userProfile.profile.full_name %>" <%- !isAuth && 'disabled' %>>
                                    </div>
                                    <div class="col-md-6 form-it">
                                        <label>Địa chỉ</label>
                                        <input type="text" placeholder="Địa chỉ" value="<%- userProfile.profile.address %>" <%- !isAuth && 'disabled' %>>
                                    </div>
                                </div>
                                
                                <% if (isAuth) { %>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="submit" type="submit" value="Lưu">
                                        </div>
                                    </div>	
                                <% } %>
                            </form>
                            <form action="" class="password">
                                <h4>02. Đổi mật khẩu</h4>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Mật khẩu cũ</label>
                                        <input type="text" placeholder="**********" <%- !isAuth && 'disabled' %>>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Mật khẩu mới</label>
                                        <input type="text" placeholder="***************" <%- !isAuth && 'disabled' %>>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 form-it">
                                        <label>Xác nhận mật khẩu mới</label>
                                        <input type="text" placeholder="*************** " <%- !isAuth && 'disabled' %>>
                                    </div>
                                </div>
                                <% if (isAuth) { %>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input class="submit" type="submit" value="Xác nhận">
                                        </div>
                                    </div>	
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
