<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">
    
    <%- include('layouts/head') %>
    <link rel="stylesheet" href="/user/css/writer-list.css">

</head>
<body>
    <!--preloading-->
    <%- include('layouts/loading') %>
    <!--end of preloading-->

    <!--login form popup-->
    <%- include('layouts/login-form') %>
    <!--end of login form popup-->

    <!--signup form popup-->
    <%- include('layouts/sign-up-form') %>
    <!--end of signup form popup-->

    <!-- BEGIN | Header -->
    <%- include('layouts/header') %>
    <!-- END | Header -->
    
    <div class="content">
        <div class="hero common-hero">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="hero-ct">
                            <h1>Danh sách người viết</h1>
                            <ul class="breadcumb">
                                <li class="active"><a href="/">Trang chủ</a></li>
                                <li> <span class="ion-ios-arrow-right"></span> Danh sách người viết</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- celebrity list section-->
        <div class="page-single">
            <div class="container">
                <div class="row ipad-width2">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="row">
                            <% allUsersPage.data.forEach(usr => { %>
                            <div class="col-md-12">
                                <div class="ceb-item-style-2">
                                    <img src="<%- usr.profile.image %>" alt="" width="128" height="128">
                                    <div class="ceb-infor">
                                        <h2><a href="/user/profile/<%- usr.profile.username %>-<%- usr._id %>"><%- usr.profile.full_name %></a></h2>
                                        <span><%- usr.profile.username %> (<%- usr.total_book %> Bài viết)</span>
                                        <p class="introduction"><%- usr.profile.introduction %></p>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        <%- include('layouts/pagination.ejs', {
                            limitTitle: 'Tác giả',
                            data: allUsersPage,
                            pageLink: '/writer',
                            title: 'Tác giả mỗi trang'
                        }) %> 
                    </div>
                    <div class="col-md-3 col-xs-12 col-sm-12">
                        <div class="sidebar">
                                <div class="searh-form">
                                <h4 class="sb-title">Tìm kiếm người viết</h4>
                                <form class="form-style-1 celebrity-form" action="/writer/" method="GET">
                                    <div class="row">
                                        <div class="col-md-12 form-it">
                                            <label>Tên đầy đủ</label>
                                            <input type="text" placeholder="Nhập tên đầy đủ" name="full_name">
                                        </div>
                                        <div class="col-md-12 form-it">
                                            <label>Biệt danh</label>
                                            <input type="text" placeholder="Nhập biệt danh" name="username">
                                        </div>
                                        <div class="col-md-12 ">
                                            <input class="submit" type="submit" value="Tìm kiếm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="ads">
                                <img src="/user/images/uploads/ads1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of celebrity list section-->
    </div>
    <!--end of latest new v1 section-->

    <!-- footer section-->
    <%- include('layouts/footer') %>
    <!-- end of footer section-->

    <%- include('layouts/javascript') %>
</body>
</html>
