<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3><%- __('auth.login') %></h3>
        <form id="loginForm">
        	<div class="row">
        		 <label for="email">
                    <%- __('auth.email') %>
                    <input type="email" name="email" id="email" placeholder="<%- __('auth.email') %> " value="a@gmail.com" required/>
                </label>
        	</div>
           
            <div class="row">
            	<label for="password">
                    <%- __('auth.password') %>
                    <input type="password" name="password" id="password" placeholder="<%- __('auth.password') %>" value="123456" required/>
                </label>
            </div>
            <div class="row">
                <p class="err-message"></p>
            </div>
            <div class="row">
            	<div class="remember">
					<div>
						<!-- <input type="checkbox" name="remember" value="true"><span><%- __('auth.remember-me') %></span> -->
					</div>
            		<a href="#"><%- __('auth.forget-password') %>?</a>
            	</div>
            </div>
           <div class="row">
           	 <button type="submit" id="loginButtonClick"><%- __('auth.login') %></button>
           </div>
        </form>
        <div class="row">
        	<p><%- __('auth.or-via-social') %></p>
            <div class="social-btn-2">
            	<a class="fb" href="/auth/facebook"><i class="ion-social-facebook"></i>Facebook</a>
            	<a class="tw" href="/auth/google"><i class="ion-social-googleplus"></i>Google</a>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->