<!--signup form popup-->
<div class="login-wrapper"  id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3><%- __('auth.sign-up') %></h3>
        <form method="post" action="/user/sign-up">
            <div class="row">
                 <label for="username-2">
                    <%- __('auth.username') %>
                    <input type="text" name="username" id="username-2" placeholder="<%- __('auth.username') %>" required="required" />
                </label>
            </div>
           
            <div class="row">
                <label for="email-2">
                    <%- __('auth.email') %>
                    <input type="email" name="email" id="email-2" placeholder="<%- __('auth.email') %>" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="password-2">
                    <%- __('auth.password') %>
                    <input type="password" name="password" id="password-2" placeholder="<%- __('auth.password') %>" required="required" />
                </label>
            </div>
             <div class="row">
                <label for="repassword-2">
                    <%- __('auth.retype-password') %>
                    <input type="password" name="password" id="repassword-2" placeholder="<%- __('auth.password-confirm') %>" required="required" />
                </label>
            </div>
           <div class="row">
             <button type="submit"><%- __('auth.sign-up') %></button>
           </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->